@font-face {
	font-family: "Public Sans";
	// src: url(/fonts/ibmCondensed/ibm-plex-sans-condensed-v14-latin_latin-ext-700.woff2)
	// 	format("woff2");
	src: url(/fonts/PublicSans-VariableFont_wght.ttf) format("truetype");

	font-style: normal;
	font-weight: normal;
}
